body {background-color:#A7C957; font-family:Verdana, Geneva, Tahoma, sans-serif}
a {color:#BC4749}
h1 {color:#7f1315}
#main-header {text-align: center; background-color:rgb(198, 242, 123)}
.blog-post p, li {font-size: large; color:#2f5436}